<div class="discourse-subscriptions-section-columns">
  <div class="section-column discourse-subscriptions-confirmation-billing">
    <h2>
      {{model.product.name}}
    </h2>

    <hr>

    <p>
      {{html-safe model.product.description}}
    </p>
  </div>

  <div class="section-column">
    {{#if canPurchase}}
    <h2>
      {{i18n "discourse_subscriptions.subscribe.card.title"}}
    </h2>

    <hr>

    {{payment-options plans=model.plans selectedPlan=selectedPlan}}

    <hr>
    <h2>{{i18n "discourse_subscriptions.subscribe.choose_payment_method"}}</h2>
{{#if isAnonymous}}
{{login-required}}
{{else}}
    {{#ds-button
    disabled=loading
    action=(action "showConfirmModal")
    class="btn btn-primary"
    label= "discourse_subscriptions.subscribe.bank_transfer_method"
    }}
    {{/ds-button}}&nbsp;&nbsp;
    {{#ds-button
    disabled=loading
    action=(action "setCardPaymentMethod")
    class="btn btn-primary"
    label="discourse_subscriptions.subscribe.card_method"
    }}
    {{/ds-button}}&nbsp;&nbsp;
    {{#ds-button
    disabled=loading
    action=(action "setWesternUnionMethod")
    class="btn btn-primary"
    label= "discourse_subscriptions.subscribe.western_union_method"
    }}{{/ds-button}}
    
    {{/if}}
    <hr>
    
    {{#if showModal}} 
    <div>
       <h3>{{i18n "discourse_subscriptions.subscribe.bank_transfer.title"}}</h3>
  
      {{#d-modal-body
      rawTitle=(i18n
      "discourse_subscriptions.subscribe.bank_transfer.operation.confirm"
      )
      }}
      <h4>{{i18n "discourse_subscriptions.subscribe.bank_transfer.operation.message"}}</h4>
      {{/d-modal-body}}

      <div class="modal-footer">
        {{#if loading}}
        {{loading-spinner}}
        {{else}}
        {{d-button
        label="discourse_subscriptions.subscribe.bank_transfer.operation.continue"
        action= (action "paymentIntentHandler")
        class="btn-danger"
        }}
        {{d-button label="discourse_subscriptions.subscribe.bank_transfer.operation.cancel" action=(action "closeModal")}}
        {{/if}}
      </div>
    </div>
    {{/if}}
    <hr>

    {{#if isCard}}
    <h3>{{i18n "discourse_subscriptions.subscribe.card.payment_title"}}</h3>

    {{subscribe-card cardElement=cardElement}}

    {{#if loading}}
    {{loading-spinner}}
    {{else if isAnonymous}}
    {{login-required}}
    {{else}}
    <div class="promo-code">
      {{input
      type="text"
      name="promo_code"
      placeholder="Code promo"
      value=promoCode
      }}
    </div>


    {{d-button
    disabled=loading
    action=(action "stripePaymentHandler")
    class="btn btn-primary btn-payment"
    label="discourse_subscriptions.plans.payment_button"
    }}
    {{/if}}
    {{/if}}
    {{else}}
    <h2>{{i18n "discourse_subscriptions.subscribe.already_purchased"}}</h2>

    {{#link-to
    "user.billing.subscriptions"
    currentUser.username
    class="btn btn-primary"
    }}
    {{i18n "discourse_subscriptions.subscribe.go_to_billing"}}
    {{/link-to}}
    {{/if}}

  </div>
</div>